apiVersion: v1
kind: Service
metadata:
  name: openshift-gitops-operator-webhook-service
  namespace: {{ .Release.Namespace }}
spec:
  ports:
  - port: 443
    protocol: TCP
    targetPort: 9443
  selector:
    control-plane: gitops-operator
