name: E2E GitOps Addon

on:
  workflow_dispatch: {}
  pull_request:
    branches:
      - main

env:
  # Common versions
  GO_VERSION: '1.24'
  GO_REQUIRED_MIN_VERSION: ''
  GOPATH: '/home/runner/work/multicloud-integrations/multicloud-integrations/go'
defaults:
  run:
    working-directory: go/src/github.com/open-cluster-management/multicloud-integrations

jobs:
  e2e-gitopsaddon:
    name: e2e-gitopsaddon
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
          path: go/src/github.com/open-cluster-management/multicloud-integrations
      
      - name: install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      
      - name: Add GOPATH/bin to PATH
        run: echo "$GOPATH/bin" >> "$GITHUB_PATH"
      
      - name: install imagebuilder
        run: go install github.com/openshift/imagebuilder/cmd/imagebuilder@v1.2.3
      
      - name: build-images
        run: make build-images
      
      - name: setup kind (cluster1)
        uses: engineerd/setup-kind@v0.5.0
        with:
          version: v0.14.0
          name: cluster1
      
      - name: setup kind (hub)
        uses: engineerd/setup-kind@v0.5.0
        with:
          version: v0.14.0
          name: hub
      
      - name: Load image on the nodes of the hub
        run: |
          kind load docker-image --name=hub quay.io/stolostron/multicloud-integrations:latest
      
      - name: Load image on the nodes of the cluster1
        run: |
          kind load docker-image --name=cluster1 quay.io/stolostron/multicloud-integrations:latest
      
      - name: Run e2e gitopsaddon test
        env:
          KUBECONFIG: /home/runner/.kube/config
        run: make test-e2e-gitopsaddon

  e2e-gitopsaddon-cleanup:
    name: e2e-gitopsaddon-cleanup
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
          path: go/src/github.com/open-cluster-management/multicloud-integrations
      
      - name: install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      
      - name: Add GOPATH/bin to PATH
        run: echo "$GOPATH/bin" >> "$GITHUB_PATH"
      
      - name: install imagebuilder
        run: go install github.com/openshift/imagebuilder/cmd/imagebuilder@v1.2.3
      
      - name: build-images
        run: make build-images
      
      - name: setup kind (cluster1)
        uses: engineerd/setup-kind@v0.5.0
        with:
          version: v0.14.0
          name: cluster1
      
      - name: setup kind (hub)
        uses: engineerd/setup-kind@v0.5.0
        with:
          version: v0.14.0
          name: hub
      
      - name: Load image on the nodes of the hub
        run: |
          kind load docker-image --name=hub quay.io/stolostron/multicloud-integrations:latest
      
      - name: Load image on the nodes of the cluster1
        run: |
          kind load docker-image --name=cluster1 quay.io/stolostron/multicloud-integrations:latest
      
      - name: Run e2e gitopsaddon cleanup test
        env:
          KUBECONFIG: /home/runner/.kube/config
        run: make test-e2e-gitopsaddon-cleanup
